* {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

body {
  background: url('./img/weights.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

/* App */

.container {
  margin: 0 auto;
  max-width: 960px;
  min-height: calc(100vh - 10px - 30px - 50px);
  padding: 10px;
  width: 90%;
}

/* App */

/* Navbar */

nav {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0px 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.navbar_title_desktop {
  font-weight: 600;
  letter-spacing: 3px;
}

.navbar_actions_desktop {}

/* Navbar */

/* Auth */

.non_auth_button_container {
  display: flex;
  flex-direction: row;
}

/* Maybe use element only instead of class? */

.button {
  align-items: center;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: center;
  height: 30px;
  padding: 8px 4px;
  text-transform: uppercase;
  width: 100px;
}

.login_button {
  background: transparent;
  border: 2px solid rgb(93, 93, 212);
  /* Changed from button to link in react. tag <a> has bigger text than <button> so needed to adjust */
  font-size: 0.9em;
  text-decoration: none;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
}

.register_button {
  background-color: rgb(93, 93, 212);
  border: 2px solid rgb(93, 93, 212);
  margin-right: 15px;
}

/* Auth */

/* Quote, Workout */

.title_text_shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
}

.centered_text {
  text-align: center;
}

/* Quote, Workout */

/* Workout .js */

.centered_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.remove_and_hide_or_show_buttons_container {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.workout_field_and_button_container {
  background-color: rgb(155, 155, 155);
  padding: 20px;
}

.form_single_result {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 10px;
  width: 180px;
}

.form_single_result b, p {
  margin: 0;
  padding: 0;
}

.confirm_or_cancel_set_addition_container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.confirm_or_cancel_set_addition_container button {
  border: none;
  color: white;
}

.confirm_set_button {
  background-color: rgb(66, 173, 66);
}

.cancel_set_button {
  background-color: rgb(238, 95, 95);
}

/* Should be add to list button */

.workout_field_and_button_container button {
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

.add_a_set_button {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
}

.add_workout_to_list_button {
  align-items: center;
  background-color: transparent;
  border: 2px solid rgb(93, 93, 212);
  color: white;
  display: flex;
  justify-content: space-between;
}

.workout_field_container {
  border-bottom: 3px solid rgb(70, 70, 70);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* Fixes visual bug where toggling would alternate container width between 180 and 168 px */
  width: 180px;
}

.workout_field_item_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.workout_field_item_container label {
  font-weight: 600;
  margin-bottom: 5px;
}

.workout_list_container {
  /* border: 3px solid tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single_workout_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.single_workout_item {
  background-color: rgb(155, 155, 155);
  height: 100px;
  padding: 10px;
}

input {
  background-color: white;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
}

.form_submit_button {
  background-color: rgb(93, 93, 212);
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
  width: 220px;
}

.weight_reps_sets_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form_single_result_name_type_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.weight_reps_sets_item {
  margin-right: 10px;
}

.single_workout_and_toggle_component_container {
  margin-bottom: 10px;
}

.workout_list_toggle_container {
  align-items: center;
  background-color: rgb(155, 155, 155);
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  font-weight: 600;
  max-width: 300px;
  padding: 10px;
}

.workout_list_toggle_container p {
  /* Pushes icon to as right as possible */
  margin-right: auto;
}

.workout_set_data_container {
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  padding: 5px 0px;
}

.workout_set_data_container p {
  margin-right: 5px;
}

/* Workout .js */

/* Modal */

.modal {
  background-color: green;
  max-width: 400px;
  height: 200px;
}

/* Modal */

/* Login */

.login_form {
  background-color: rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 10px;
}

.login_form_field_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login_form_field_container label {
  font-weight: 600;
  margin-bottom: 5px;
}

.login_form button {
  background-color: rgb(93, 93, 212);
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
}

/* Login */

@media screen and (max-width: 600px) {
  /* Navbar */
  .navbar_title_desktop {
    visibility: hidden;
  }
  .navbar_actions_desktop {
    visibility: hidden;
  }
  /* Navbar */
}

@media screen and (min-width: 601px) {
  /* Quote */
  .title_text_shadow {
    text-align: center;
  }
  /* Quote */
  /* Auth */
  .non_auth_button_container {
    justify-content: center;
  }
  /* Auth */
}